<!-- _header.ejs -->

<header> Tiny URL </header>
<a href="/urls" ><p style="display: inline-block; margin: 0"> Home </p></a>
<a href="/login" ><p style="display: inline-block; margin: 0"> Login </p></a>
<a href="/register" ><p style="display: inline-block; margin: 0"> Register </p></a>


<% if (userDatabaseKey[cookie]) {%>
<div>
  <p> Logged in as: <%= userDatabaseKey[cookie].email %> </p>
  <div>
    <form action="/logout" method="POST" style="">
        <input type="submit" value="Logout" style="">
    </form>
  </div>
</div>
 <%} %>


