<!-- _header.ejs -->
<header> Tiny URL </header>
<a href="/urls" ><p style="display: inline-block; margin: 0"> Home </p></a>

<% if (userDatabaseKey[cookie]) {%>
<div>
  <p> Logged in as: <%= userDatabaseKey[cookie].email %> </p>
  <div>
    <form action="/logout" method="POST" style="">
        <input type="submit" value="Logout" style="">
    </form>
  </div>
</div>
 <%} else {%>
<div>

</div>
  <% } %>


