<!-- urls_index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include partials/_header %>
  </head>
  <body>
    <ul>
      <% key.forEach(function(object){ %>
        <% for(var tiny in object){ %>
      <li>
        <a href=" <%= "/urls/" + tiny %>" > <%= tiny + " - " + object[tiny]; %></a>
        <form method="POST" action="/urls/<%- tiny %>?_method=DELETE">
          <input type="submit" value="Delete" name="Delete" id="delete">
        </form>
        <a href=" <%= "/urls/" + tiny %>" ><input type="submit" value="Edit" name="Edit" id="Edit"></a>
      </li>
        <% break } %>
      <% }); %>
    </ul>

    <p><a href="/urls/new">Create new URL</a></p>
  </body>
</html>
