<!-- urls_shows.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
 <title>TinyApp</title>
</head>
<body>
   <!-- Add your EJS code here -->
   <ul>
       <li><%= shortURL %></li>
   </ul>
</body>
</html>
